.tag{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    border: cornflowerblue 2px solid;
    /*border-radius: 10px;*/
    padding: 5px;
}
:hover.tag{
    color: cornflowerblue;
    cursor: pointer;
    text-shadow: cornflowerblue 1px 0 10px;
}